.header {
  max-width: 1340px;
  margin: 92px 49px 92px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

h1,
h2 {
  text-transform: uppercase;
}

.header__links-list {
  display: flex;
}

.header__link_active,
footer__menu-link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-right: 33px;
}

.header__link {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.header__links-list-item {
  list-style: circle;
  padding-right: 32px;
}

.header__logo {
  margin-right: 180px;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  all: initial;
  color: #000;
  font-family: Raleway, "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-top: 5px;
  margin-right: 4px;
  align-self: flex-start;
}

.header__link-address {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  line-height: 24.9px;
}

.header__address {
  line-height: 23.1px;
}

.cover {
  max-width: 1440px;
  height: 757px;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: 0px -17px;
  z-index: 1;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cover__title {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  padding-top: 173px;
  display: flex;
  flex-direction: column;
}

.aligned-text {
  align-self: flex-start;
  padding-left: 50px;
}

.aligned-text_center {
  align-self: center;
  line-height: 154%;
  padding-right: 29px;
}

.aligned-text_right {
  align-self: flex-end;
  line-height: 85%;
  padding-right: 19px;
}

.letter-spacing-extended {
  padding-left: 30px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 143px;
  padding-left: 422px;
  word-spacing: 17px;
}

.cover__description-text {
  color: #fff;
  text-align: center;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.bet-button {
  all: initial;
  color: #fff;
  text-align: center;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 80px;
  align-self: baseline;
  border: 1px solid white;
  padding: 12px 32px;
}

.lots {
  min-width: 1340px;
  min-height: 555px;
}

.card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.card {
  max-width: 430px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.overlay-lots {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
}

.lots__heading {
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 180px;
  margin-left: 90px;
}

.lots__card-list {
  margin-top: 27px;
  margin-left: 50px;
  margin-right: 50px;
}

.lots__card-list-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__title {
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 40px;
}

.card__text {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  flex-grow: 1;
  margin-left: 40px;
}

.card__title-3 {
  width: 350px;
  height: 74px;
}

.card__text-1 {
  margin-top: 202px;
  width: 350px;
  height: 96px;
}
.card__text-2 {
  width: 350px;
  height: 240px;
  margin-top: 31px;
}

.card__text-3 {
  width: 350px;
  height: 192px;
  margin-top: 85px;
}

.lots__look-more-link {
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 90px;
  border-bottom: 1px solid black;
}

.about {
  display: flex;
  margin-top: 180px;
  margin-left: 145px;
}

.about__logo {
  background-color: #000;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  background-image: url(/images/logo-white.svg);
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 120px;
}

.about__title {
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  width: 885px;
  margin-top: 100px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__text-paragraph {
  margin-top: 25px;
}

.footer {
  max-width: 1340px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 176px;
  margin-bottom: 90px;
}

.footer__social-list {
  max-width: 240px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin-top: 5px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 50px;
  height: 50px;
}

.footer__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}
