/* место для вашего кода */

/* начало header */

.header {
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  block-size: 293px;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 35px;
  margin-inline-start: 50px;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.address > a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__logo-image {
  inline-size: 140px;
  margin-inline-end: 150px;
}

.address {
  font-style: normal;
  inline-size: 210px;
  block-size: 98px;
 
  line-height: 24.3px;
}

.magrin-adress-header {
  margin-inline-end: 80px;
}

/* начало секции с заголовком */

.cover {
  background-image: url(../images/cover.jpg);
  inline-size: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inline-size: 100%;
  block-size: 100%;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  line-height: 120px;
  padding-block-start: 165px;
  padding-inline-start: 50px;
  letter-spacing: 30px;
  position: relative;
  z-index: 2;
}

.cover__title > span {
  display: block;
}

.aligned-text_center {
  padding-inline-start: 285px;
  padding-block-start: 5px;
}

.aligned-text_right {
  padding-inline-start: 585px;
}

.letter-spacing-extended {
  padding-inline-start: 30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 125px;
  padding-block-end: 50px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  padding-inline-start: 80px;
}

.bet-button {
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  inline-size: 256px;
  block-size: 51px;
}

.bet-button {
  margin-inline-end: 50px;
  cursor: pointer;
}

/* начало блока с лотами */

.lots {
  margin-block-start: 179px;
}

.lots__headind {
  font-size: 40px;
  font-weight: 700;
  margin-inline-start: 65px;
  margin-block-end: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0 23px;
  margin-block-end: 30px;
}

.lots__card-list-item {
  position: relative;
  flex-basis: 334px;
  flex-grow: 1;
  block-size: 563px;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
  color: #fff;
}

.card__title,
.card__text {
  z-index: 2;
  padding: 0 40px;
}

.card__title {
  padding-block-start: 51px;
  font-size: 22px;
  text-decoration: underline;
}

.card__text {
  padding-block-end: 48px;
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  margin-inline-start: 65px;
  border-bottom: 1px solid #000;
}

/* начало блока об аукционе */

.about {
  margin-block-start: 185px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  block-size: 240px;
  inline-size: 240px;
  background-color: #000;
  border-radius: 50%;
  margin-inline-start: 70px;
}

.about__logo-image {
  margin-block-start: 60px;
  block-size: 114px;
}

.about__description {
  margin-block-start: 100px;
  padding-inline-start: 50px;

  display: flex;
  flex-direction: column;
}

.about__title {
  font-size: 40px;
  margin-block-end: 100px;
}

.about__text {
  font-size: 20px;
  inline-size: 693px;
}

.about__text:nth-child(1) {
  inline-size: 688px;
}

.about__description-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* начало хедера */

.footer {
  margin: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
}

.footer > address {
  font-size: 18px;
}

.footer__menu-list {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline-start: 30px;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  inline-size: 240px;
}

.footer__social-icon {
  inline-size: 48px;
  gap: 48px;
}

ul {
  list-style: none;
}